*.asv
streamBEM/coreFunctions/Cn.m
streamBEM/coreFunctions/Cn2.m
streamBEM/coreFunctions/Cn2_study.m
streamBEM/coreFunctions/Cn3.m
streamBEM/coreFunctions/Cn4.m
streamBEM/coreFunctions/Cn5.m
streamBEM/coreFunctions/Cn6.m
streamBEM/coreFunctions/Lmn.m
streamBEM/coreFunctions/Lmn11.m
streamBEM/coreFunctions/Lmn9.m
streamBEM/coreFunctions/Laplacian.m
streamBEM/coreFunctions/Laplacian2.m
streamBEM/coreFunctions/Lmn2.m
streamBEM/coreFunctions/Lmn3.m
streamBEM/coreFunctions/Lmn4.m
streamBEM/coreFunctions/Lmn5.m
streamBEM/coreFunctions/Lmn6.m
streamBEM/coreFunctions/Lmn7.m
streamBEM/coreFunctions/Lmn8.m
streamBEM/coreFunctions/Rmn.m
streamBEM/coreFunctions/Rmn2.m
streamBEM/coreFunctions/Rmn3.m
streamBEM/coreFunctions/Rmn4.m
streamBEM/coreFunctions/Rmn5.m
streamBEM/coreFunctions/Rmn6.m
streamBEM/coreFunctions/Rmn7.m
streamBEM/coreFunctions/Rmn8.m
streamBEM/coreFunctions/basisFunction.m
streamBEM/coreFunctions/basisFunction2.m
streamBEM/coreFunctions/basisFunction3.m
streamBEM/displayFunctions/DisplayGradient.m
streamBEM/displayFunctions/displayCurrentDensity.m
streamBEM/displayFunctions/displayCurrentDensity1.m
streamBEM/displayFunctions/displayFlatWire.m
streamBEM/displayFunctions/displayVoltage.m
streamBEM/displayFunctions/displayWireWithArrow.m
streamBEM/otherFunctions/Field.m
streamBEM/otherFunctions/Field3.m
streamBEM/otherFunctions/NbrWireOptimisation2.m
streamBEM/otherFunctions/ReduceCMatrix.m
streamBEM/otherFunctions/ReduceCMatrix2.m
streamBEM/otherFunctions/ReduceCMatrix3.m
streamBEM/otherFunctions/ReduceLUpMatrix1.m
streamBEM/otherFunctions/ReduceLUpMatrix2.m
streamBEM/otherFunctions/ReduceLUpMatrix3.m
streamBEM/otherFunctions/ReduceSquareMatrix.m
streamBEM/otherFunctions/ReduceSquareMatrix2.m
streamBEM/otherFunctions/ReduceSquareMatrix3.m
streamBEM/otherFunctions/exctracteWire.m
streamBEM/otherFunctions/exctracteWire2.m
streamBEM/otherFunctions/exctracteWire3.m
streamBEM/otherFunctions/exctracteWire4.m
streamBEM/otherFunctions/fieldByOPENMPI.m
streamBEM/otherFunctions/retrieveCurrentVector.m
streamBEM/otherFunctions/retrieveCurrentVector2.m
streamBEM/coreFunctions/Amn1.m
